.crearGif__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crearGif__camara {
  max-width: 25%;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crearGif__celluloidFilm {
  max-width: 25%;
  width: 200px;
  height: 390px;
  position: relative;
}

.crearGif__celluloidFilm img {
  position: absolute;
  bottom: -80px;
  right: 0;
}

.crearGif__recordingZone {
  padding: 2rem;
  width: 688px;
  height: 390px;
  border: 1px solid purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.crearGif .MessageBox .crearGif__title {
  font-family: Montserrat, Roboto;
  font-weight: 500;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 35px;
}

.crearGif .MessageBox .crearGif__title .aqua-text {
  color: #50E3C2;
}

.crearGif .MessageBox .crearGif__text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 29px;
}

.crearGif .recording_video {
  width: 480px;
  background-color: aliceblue;
  height: 320px;
  z-index: 3000;
}

.crearGif .raw-gif {
  width: 480px;
  height: 320px;
  position: relative;
}

.crearGif .raw-gif .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: Montserrat-Bold;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crearGif .raw-gif .overlay.blur {
  background-color: rgba(173, 10, 223, 0.466);
}

.crearGif .raw-gif .overlay .overlay__info {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
}

.crearGif .raw-gif .overlay .overlay__bar-btns {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
}

.crearGif .raw-gif .overlay .overlay__bar-btns .btn {
  border: none;
  border-radius: 6px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
}

.crearGif .raw-gif .overlay .overlay__bar-btns .btn-download {
  background-image: url("assets/icon-download.svg");
}

.crearGif .raw-gif .overlay .overlay__bar-btns .btn-download:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-image: url("assets/icon-download-hover.svg");
}

.crearGif .raw-gif .overlay .overlay__bar-btns .btn-link {
  background-image: url("assets/icon-link-normal.svg");
}

.crearGif .raw-gif .overlay .overlay__bar-btns .btn-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-image: url("assets/icon-link-hover.svg");
}

.crearGif .record_status {
  width: 688px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.crearGif .pagination {
  margin: 0 auto;
  width: 75%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.crearGif .pagination .step {
  width: 2rem;
  height: 2rem;
  padding-top: 0.2em;
  margin: 1.5rem 0.5rem 1.5rem 0.5rem;
  border: 1px solid purple;
  border-radius: 50%;
  font-size: 1.2em;
}

body.darkMode .crearGif .pagination .step {
  border: 1px solid #fff;
}

.crearGif .pagination .step-active {
  background-color: purple;
  color: #fff;
}

.crearGif #repeatShot {
  color: purple;
  text-decoration: none;
}

.crearGif #repeatShot:hover {
  border-bottom: 2px solid aqua;
}

.crearGif #repeatShot:active {
  color: gray;
  border-bottom: hidden;
}

.crearGif .timer {
  width: 25%;
  text-align: right;
  position: absolute;
  right: 0;
}

.crearGif .timer .timer__text {
  font-family: roboto;
  font-size: 16px;
  line-height: 22px;
}

.crearGif .corner {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
}

.crearGif .top--left {
  border-top: 1px solid aqua;
  border-left: 1px solid aqua;
  top: 1.25rem;
  left: 1.25rem;
}

.crearGif .top--right {
  border-top: 1px solid aqua;
  border-right: 1px solid aqua;
  top: 1.25rem;
  right: 1.25rem;
}

.crearGif .bottom--right {
  border-bottom: 1px solid aqua;
  border-right: 1px solid aqua;
  bottom: 1.25rem;
  right: 1.25rem;
}

.crearGif .bottom--left {
  border-bottom: 1px solid aqua;
  border-left: 1px solid aqua;
  bottom: 1.25rem;
  left: 1.25rem;
}

.crearGif .border {
  width: 58%;
  margin: 0 auto;
  border: 2px solid purple;
}

.crearGif .button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crearGif .button_container .button {
  width: 127px;
  height: 50px;
  margin-top: 78px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #572EE5;
  margin-top: 20px;
  background-color: #fff;
}

.crearGif .button_container .button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #fff;
  background-color: #572EE5;
}

.hide {
  display: none;
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1440px;
}
/*# sourceMappingURL=style.css.map */